<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-widht, initial-scale=1.0,minimum-scale=1.0">
<title>ログイン</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<form th:action="@{/login}" method="post">
    	<div class="wrapper">
        	<div class="header">
            	<h1>ログイン画面</h1>
        	</div>
            	<div class="contents clearfix">
                	<div class="login clearfix">
                    	<div class="table">
                        	<div class="center">
                            	<label for="username">ユーザー名</label>
                            	<input type="text" name="username" id="username">
                        	</div>
                        	<div class="center">
                            	<label for="password">パスワード</label>
                            	<input type="text" name="password" id="password">
                        	</div>    
                    	</div>
                	</div>
                <div>
                    <button type="submit" name="ログイン" class="btn btn-login">ログイン</button>
                </div>
                <div>
                    <button type="submit" name="新規ユーザー登録" class="btn btn-register">新規ユーザー登録</button>
                </div>
            </div>
    	</div>
    </form>
</body>
</html>