<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
<title>ログアウト</title>
<link th:href="@{/css/style111.css}" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>ログアウト画面</h1>
        </div>
        <div class="contents clearfix">
            <h2>ログアウトしますか？</h2>
            <div class="button-container">
                <button type="button" name="はい" class="btn btn-login">はい</button>
                <button type="button" name="いいえ" class="btn btn-register">いいえ</button>
            </div>
        </div>
    </div>
</body>
</html>