<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- reset.css destyle -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css" />
  <link rel="stylesheet"
    href="C:\Users\yuri\Desktop\TeamDverop\TeamDevelopment_2307\TeamDevelopment_2307\src\main\resources\static\css\style.css">
  <link rel="stylesheet" href="C:\Users\yuri\Desktop\TeamDverop\TeamDevelopment_2307\TeamDevelopment_2307\src\main\resources\static\css\common.css">
  <title>顧客編集削除</title>
</head>

<body>
  <div class="container">
    <div th:if="${validationError}" th:each="error : ${validationError}">
      <label class="text-danger" th:text="${error}"></label>
    </div>
    <header class="header">
      <h1 class="header-name">顧客編集画面</h1>
    </header>
    <nav class="pankuzu-list">
      <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <!-- 1つめ -->
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="ホームのURL">
            <span itemprop="name">メニュー</span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <!-- 2つめ -->
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="カテゴリーのURL">
            <span itemprop="name">顧客一覧</span>
          </a>
          <meta itemprop="position" content="2" />
        </li>

        <!-- 3つめ -->
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="子カテゴリーのURL">
            <span itemprop="name">顧客詳細</span>
          </a>
          <meta itemprop="position" content="3" />
        </li>

        <!-- 4つめ -->
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="子カテゴリーのURL">
            <span itemprop="name">顧客編集</span>
          </a>
          <meta itemprop="position" content="4" />
        </li>
      </ol>
    </nav>
    <div class="Form">
      <div class="Form-contents">
        <!-- 名前 -->
        <div class="Form-Item">
          <p class="Form-Item-Label">名前</p>
          <input type="text" class="Form-Item-Input" placeholder="例）山田 太郎">
        </div>


        <!-- 生年月日 -->
        <div class="Form-Item">
          <p class="Form-Item-Label ">生年月日</p>
          <input type="text" class="Form-Item-Input" placeholder="例）2000年1月1日">
        </div>

        <!-- 住所 -->
        <div class="Form-Item">
          <p class="Form-Item-Label ">住所</p>
          <input type="text" class="Form-Item-Input" placeholder="例）東京都江東区青海2-7-4 theSOHO 312号室">
        </div>

        <!-- 電話番号 -->
        <div class="Form-Item">
          <p class="Form-Item-Label ">電話番号</p>
          <input type="text" class="Form-Item-Input" placeholder="例）03-1234-5678">
        </div>

        <!-- メールアドレス -->
        <div class="Form-Item">
          <p class="Form-Item-Label ">メールアドレス</p>
          <input type="text" class="Form-Item-Input" placeholder="例）○○@rtc.jp">
        </div>
      </div>
    </div>

    <!-- ボタン -->
    <div class="buttons">
      <div clas="button-confirm">
        <label for="confirm" class="modal-open confirm-Btn">確定</label>
      </div>
      <div clas="button-delete">
        <label for="delete" class="modal-open delete-Btn">削除</label>
      </div>
    </div>

    <!-- モーダルコンテンツ -->

    <!-- confirm -->
    <div class="modal_wrap">
      <input id="confirm" type="checkbox">
      <div class="modal_overlay">
        <label for="confirm" class="modal_trigger"></label>
        <div class="modal_content">
          <label for="confirm" class="close_button">✖️</label>
          <p>確定しました。</p>
        </div>
      </div>
    </div>

    <!-- delete -->
    <div class="modal_wrap">
      <input id="delete" type="checkbox">
      <div class="modal_overlay">
        <label for="delete" class="modal_trigger"></label>
        <div class="modal_content modal_content-delete">
          <label for="delete" class="close_button">✖️</label>
          <p>この顧客情報を本当に削除してもよろしいですか？</p>
          <div>

          </div>
        </div>
      </div>
    </div>


  </div>


</body>

</html>