@charset "utf-8";

html {
    font-size: 62.5%;
    /* 16px * 62.5% = 10px */
}

body{
    font-family: "游ゴシック";
    width: 100%;
    height: 100%;
    max-width: 1366px;
    max-height: 768px;
    margin: 0 auto;
    font-size: 16px;
}

.text-danger{
	margin-top: 20px;
}