@charset "UTF-8";


body{
   width: 1366px;
   height: 768px;
}
/* ヘッダー */
header {
   height:90px;
    width: 1366px;
    background-color: #2e4d70;
 }

h2{
 font-size: 38px;
 color:white;
 text-align: center;
 padding: 20px;
}



 /* パンくずリスト */
.breadcrumb a {
   text-decoration: none;
   color: #a6cdd3;
 }

 .breadcrumb .breadcrumbs {
   padding-left: 0;
   margin-top: 0;
   margin-bottom: 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
 }
 .breadcrumb li {
   display: inline-block;
   position: relative;
   padding-right: calc(16px + 8px);
   margin-right: 8px;
   color: #a6cdd3;
 }
 .breadcrumb li::before {
   content: '›';
   width: 1em;
   height: 1em;
   line-height: 1;
   text-align: center;
   font-size: 1em;
   color: inherit;
   position: absolute;
   top: 50%;
   right: 0;
   -webkit-transform: translateY(-50%);
           transform: translateY(-50%);
 }
 .breadcrumb li:last-child {
   margin-right: 0;
   padding-right: 0;
   color: #a6cdd3;
 }

 /* 検索画面 */

.search_manu{
   text-align: center;
   font-size: 18px;
}

.searchmanu input[type="submit"]{
   border: none;
   padding: 10px;
   width: 120px;
   font-size: 18px;
   text-align: center;
   text-decoration: none;
   background-color:#e4b484;
   color:white;
 }

 .btn {
      border: #fff;
      padding: 10px;
      width: 150px;
      font-size: 18px;
      text-decoration: none;
      background-color:#e4b484;
      color:white;
 }


/* ページネーション */
.Pagination {
   display: flex;
align-items: center;
justify-content: center;
 }
 .Pagination-Item-Link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   background:gray;
   border: solid 2px #fff;
   font-size: 14px;
   color:#fff;
   font-weight: bold;
 }

 .Pagination-Item-Link.isActive {
   background:#2e4d70;
   color: #fff;
   pointer-events: none;
 }

 .Pagination > * + * {
   margin-left: 12px;
 }

/* 検索結果画面 */
table, th, td {
   border-collapse: collapse;
   border: 1px solid #ccc;
   width: 1300px;
 }
 
 table th {
   padding: 10px;
   font-weight: bold;
   vertical-align: top;
 }
 table td {
   width: 350px;
   padding: 5px;
   vertical-align: top;
  }
 
 th{
   background: #2e4d70;
   color:white;
   font-size: 18px;
   
  }


  .btn1 {
   position: absolute;
   top: 730px;
   left: 1320px;
   padding: 10px;
   text-decoration: none;
   background-color:#e4b484;
   color:white;
 }

 .btn2 {
   position: absolute;
   top: 800px;
   left: 1320px;
   padding: 10px;
   text-decoration: none;
   background-color:#e4b484;
   color:white;
 }

 .btn3 {
   position: absolute;
   top: 870px;
   left: 1320px;
   padding: 10px;
   text-decoration: none;
   background-color:#e4b484;
   color:white;
 }
 .btn4 {
   position: absolute;
   top: 950px;
   left: 1320px;
   padding: 10px;
   text-decoration: none;
   background-color:#e4b484;
   color:white;
 }