.header-name {
    height: 90px;
    font-size: 42px;
    display: block;
    background-color: #2e4d70;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


/* パンくずリスト */
.pankuzu-list {
    border-bottom: 1px solid #333;
    border-width: 1px;
}


.breadcrumb {
    width: 95%;
    margin: 0 auto;
    padding: 5px 0;
    list-style: none;
}

.breadcrumb li {
    display: inline;
    /*横に並ぶように*/
    list-style: none;
    font-weight: bold;
    /*太字*/
}

.breadcrumb li:after {
    /* >を表示*/
    content: '>';
    padding: 0 0.2em;
    color: #2e4d70;
}

.breadcrumb li:last-child:after {
    content: '';
}

.breadcrumb li a {
    text-decoration: none;
    color: #a6cdd3;
    font-size: 16px;
    /*色*/
}

.breadcrumb li a:hover {
    text-decoration: underline;
}


/* 入力フォーム */
.Form {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}


.Form-Item {
    /* border-top: 1px solid #ddd; */
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form-Item-Label {
    color: #333;
    font-size: 21px;
    font-weight: bolder;
    margin-bottom: 8px;
    width: 100%;
    max-width: 450px;
}

.Form-Item-Input {
    font-size: 18px;
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: 500;
    border: 1px solid #ddd;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 6px;
    height: 48px;
    flex: 1;
    max-width: 450px;
    background: #eeeeee;
}



/* button */
.buttons {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-end;
}

.button-confirm {
    max-width: 200px;
}


.confirm-Btn {
    border-radius: 6px;
    padding: 10px 30px;
    display: block;
    letter-spacing: 0.05em;
    background: #e4b484;
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
}

.delete-Btn {
    margin-left: 15px;
    border-radius: 6px;
    padding: 10px 30px;
    display: block;
    letter-spacing: 0.05em;
    background: #2e4d70;
    color: #fff;
    font-weight: bolder;
    font-size: 18px;

}


/* モーダル */
.modal_content p {
    font-size: 21px;
    color: #333;
    font-weight: bolder;
    text-align: center;

}


.modal_wrap input {
    display: none;
}

.modal_overlay {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(82, 82, 82, 0.703);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
}

.modal_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal_content {
    position: relative;
    align-self: center;
    width: 60%;
    height: 40%;
    max-width: 600px;
    padding: 30px 30px 30px;
    box-sizing: border-box;
    background: #fff;
    line-height: 1.4em;
    transition: 0.5s;

    display:flex;
    justify-content: center;
    align-items:center
}

.close_button {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
}

.modal_wrap input:checked~.modal_overlay {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}

.open_button {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    margin: auto;
    padding: 8px 16px;
    color: #444;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    cursor: pointer;
}