body {
    height: 768px;
    width: 100%;
    font-family:"游ゴシック";
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}

/*ヘッダー*/
/*.header{*/
/*    display: flex;*/
/*    height: 90px;*/
/*     width: 1366px; */
/*    background-color: #2E4D70;*/
   
/*}*/

/*タイトルの文字*/

/*.title{*/
/*    margin: 20px 0px 0 300px;*/
/*    color:#ffff;*/
/*    font-size: 38px;*/

/*}*/

/*戻るボタン*/
.Back{
    display: inline-block;
    padding: 0 0 0 0;
    border: 1px solid #e4b484;
    box-sizing: border-box;
    background: #e4b484;
    width: 50px;
    height: 30px;
    margin-left: 100px;
    margin-top: 30px;
    color: #ffff;
    font-size: 18px;

}

/*真ん中の位置*/
.center{
    display: flex;
    margin: 10px 0px 200px 450px;
    font-size: 18px;
}

/*ユーザーネームの入力*/
.userName-form{
    padding: 30px 0 25px 0
    
}

.user_Form{
	margin-top: 60px;
	margin-bottom: 30px;
}


/*パスワードの入力*/
.password-form{
    padding: 60px 80px 55px 0
}

/*変更ボタン*/
.Change{
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #e4b484;
    box-sizing: border-box;
    background: #e4b484;
    width: 150px;
    height: 44px;
    margin-right: 100px;
    color: #ffff;
    font-size: 18px;
    
}

/*削除ボタン*/
.Del{
    display: inline-block;
    width: 150px;
    height: 44px;
    padding: 0.5em;
    border: 1px solid #e4b484;
    box-sizing: border-box;
    background: #e4b484;
    margin: 0.5em 0;
    color: #ffff;
    font-size: 18px;
}

/*※注意*/
.h1{
    font-size: 12px;
    color:#2e4d70;
}




.return-Btn {
	border: #333 solid 1px;
    border-radius: 6px;
    padding: 10px 30px;
    display: block;
    letter-spacing: 0.05em;
    background: #fff;
    color: #333;
    font-weight: bolder;
    font-size: 18px;
}
.button-2{
    width: 95%;
    margin-top: 65px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.button-wide{
	display: flex;
}



