body {
    min-height: 100%;
    height: 100%;
    font-family: "Yu Gothic", YuGothic, "游ゴシック", "Yu Gothic Medium", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ ゴシック", "MS Gothic", sans-serif;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

/* ヘッダー */
.header {
    height: 90px;
    background-color: #2e4d70;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header h1,
.header p {
    font-size: 42px;
    color: #fff;
    margin: 10px 0;
}

/* コンテンツ */
.contents {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

/* ボタン */
.btn {
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 背景色の変化をアニメーション化 */
}

.btn-login {
    background-color: #e4b484;
    color: #fff;
}

.btn-login:hover,
.btn-login:focus {
    background-color: #d39561; /* ホバー時やフォーカス時の背景色 */
}

.btn-register {
    background-color: #fff;
    color: #000000;
}

.btn-register:hover,
.btn-register:focus {
    background-color: #bbbbbb;
    color: #000000;
}

/* reset.css */
* {
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-container button {
    margin: 0 5px;
}