@charset "UTF-8";@charset "UTF-8";
body{
 margin: 0;
 width: 100%;
 height: 100vh;
 position: relative;
 }
.headerblock{
 background-color: #213760;
 height: 120px;
 font-size: 24px;
 color: #ffffff;
 display: flex;
 align-items: center;
 justify-content: center;
}
.backbutton{
 width: 118px;
 height: 32px;
 font-size: 16px;
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 top: 44px;
 left: 108px;
 background:#e4b484;/*検索ボタンの背景カラー*/
 border:none;/*検索ボタンの枠線を消す*/
 color:#fff;/*検索ボタンのテキストカラー*/
 font-weight:bold;/*検索ボタンのテキスト太字*/
 font-size:16px;/*検索ボタンのフォントサイズ*/
 }
 /*検索ボタンマウスオーバー時*/
 .backbutton:hover{
 color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/
 }
.plusbutton{
 width: 118px;
 height: 32px;
 display: flex;
 align-items: center;
 justify-content: center;
 float: right;
 position: relative;
 top: 80px;
 right: 106px;
 background:#e4b484;/*検索ボタンの背景カラー*/
 border:none;/*検索ボタンの枠線を消す*/
 color:#fff;/*検索ボタンのテキストカラー*/
 font-weight:bold;/*検索ボタンのテキスト太字*/
 font-size:16px;/*検索ボタンのフォントサイズ*/
 }
 /*検索ボタンマウスオーバー時*/
 .plusbutton:hover{
 color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/
 }
.breadcrumb {
 display: flex;
 flex-wrap: wrap;
 list-style: none;
 font-size: 8px;
 }

 .breadcrumb li:not(:last-of-type)::after {
 content: "›";
 margin: 0 .6em; /* 記号の左右の余白 */
 color: #777; /* 記号の色 */
 }
/*検索フォーム全体*/
#form1{
 position:relative;/*フォームの相対位置*/
 max-width:348px;/*フォームのサイズ*/
 }
 /*検索ボックス*/
 #sbox{
 position:absolute;/*フォームの絶対位置*/
 left:102px;
 top:80px;
 outline:0;/*クリック時の青い枠線消す*/
 height:32px;/*検索ボックスの高さ*/
 padding:0 10px;/*テキスト位置調整*/
 border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/
 background:#eee;/*検索ボックスの背景カラー*/
 }
 /*検索ボタン*/
 #sbtn{
 width:70px;/*検索ボタンの横幅*/
 height:32px;/*検索ボタンの縦幅*/
 position:absolute;/*検索ボタンの絶対位置*/
 left: 455px;/*検索ボタンの位置調整*/
 top:80px;
 border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/
 background:#e4b484;/*検索ボタンの背景カラー*/
 border:none;/*検索ボタンの枠線を消す*/
 color:#fff;/*検索ボタンのテキストカラー*/
 font-weight:bold;/*検索ボタンのテキスト太字*/
 font-size:16px;/*検索ボタンのフォントサイズ*/
 }
 /*検索ボタンマウスオーバー時*/
 #sbtn:hover{
 color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/
 }
 /*ページ遷移ボタン*/
 .button{
 position: absolute;
 top: 288px;
 left: 50%;
 transform: translateX(-50%);
 }
 .button1{
 display:inline-block;
 background:#213760;
 padding:10px 15px;
 text-align:center;
 color:#FFF;
 margin:5px;
 border:1px solid;
 cursor:pointer;
 }
 /*顧客テーブル*/
 table {
 border-collapse: collapse;
 text-align: center;
 position: absolute;
 top: 390px;
 left: 50%;
 transform: translateX(-50%);
 }
 th, td {
 padding: 5px;
 border: 1px solid #333;
 }
 th {
 background-color: #878787;
 color: #FFF;
 }