
<!--localhost:8080/housing/CustomerEdit/1-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>顧客編集削除</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css" />
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/CusEdit.css}">
   
</head>

<body>
	
	
  <div class="container">


    <header class="header">
      <h1 class="header-name">顧客編集画面</h1>
    </header>
    <nav class="pankuzu-list">
      <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <!-- 1つめ -->
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" th:href="@{/housing/menu}">
            <span itemprop="name">メニュー</span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <!-- 2つめ -->
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" th:href="@{/housing/imaiuser}">
            <span itemprop="name">顧客一覧</span>
          </a>
          <meta itemprop="position" content="2" />
        </li>

        <!-- 3つめ -->
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" th:href="@{/housing/CustomerDetailsS09}">
            <span itemprop="name">顧客詳細</span>
          </a>
          <meta itemprop="position" content="3" />
        </li>

        <!-- 4つめ -->
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a class="active" itemprop="item" aria-current="page">
            <span itemprop="name">顧客編集</span>
          </a>
          <meta itemprop="position" content="4" />
        </li>
      </ol>
    </nav>
    
 



    <form th:action="@{/CustomerEdit/update}" th:object="${CusEditForm}" th:method="post">
	<div th:if="${validationError}" th:each="error : ${validationError}">
	<label style="color: red ; margin-top: 20px"class="text-danger" th:text="${error}"></label>
	</div>	
		
    <div class="Form">
      <div class="Form-contents">
		<input type="hidden" th:field="*{id}" />
        <!-- 名前 -->
        <div class="Form-Item">
          <div class="Form-Item-Label">名前</div>
          <div>
			  <input type="text" class="Form-Item-Input" th:field ="*{name}" >
		  </div>
        </div>

        <!-- 住所 -->
        <div class="Form-Item">
          <p class="Form-Item-Label ">住所</p>
          <input type="text" class="Form-Item-Input" th:field ="*{address}">
        </div>

        <!-- 電話番号 -->
        <div class="Form-Item">
          <p class="Form-Item-Label ">電話番号</p>
          <input type="text" class="Form-Item-Input" th:field ="*{phone}">
        </div>

        <!-- メールアドレス -->
        <div class="Form-Item">
          <p class="Form-Item-Label ">メールアドレス</p>
          <input type="text" class="Form-Item-Input" th:field ="*{email}">
        </div>
      </div>
    </div>
    
  
    
    <!-- ボタン seikoo-->
    
    
    <div class="buttons">
      <label for="confirm" clas="button-confirm">
        <td><button th:href="@{/CustomerEdit/{id}(id=*{id})}" class="modal-open confirm-Btn">確定</button></td>
      </label>
      <label for="delete" clas="button-delete">  
        <td><a th:href="@{/housing/{id}/delete(id=*{id})}"  class="modal-open delete-Btn">削除</a></td>
      </label>
      
      
<!--      <label for="delete" clas="button-delete">  -->
<!--        <td><button th:href="@{/housing/{id}/delete(id=*{id})}" input type="submit"  class="modal-open delete-Btn">削除</button></td>-->
<!--      </label>-->
    </div>


<!--    <div class="buttons">-->
<!--      <label for="confirm" clas="button-confirm">-->
<!--        <a th:href="@{/CustomerEdit/{id}(id=*{id})}"  class="modal-open confirm-Btn">確定</a>-->
<!--      </label>-->
<!--      <label for="delete" clas="button-delete">  -->
<!--        <td><a th:href="@{/housing/{id}/delete(id=*{id})}"  class="modal-open delete-Btn">削除</a></td>-->
<!--      </label>-->
    </div>
    </form>
    
    
    
 
    <!-- モーダルコンテンツ -->

    <!-- confirm -->
<!--  <div class="modal">-->

<!--<input type="checkbox" class="toggle"/>-->
	  
<!--    <div class="modal_wrap">-->
<!--      <input id="confirm" type="checkbox">-->
<!--      <div class="modal_overlay">-->
<!--        <label for="confirm" class="modal_trigger"></label>-->
<!--        <div class="modal_content">-->
<!--          <label type="checkbox" for="confirm" class="close_button" >✖️</label>-->
<!--          <h3 class="confirm_title">確定しました。</h3>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!-- </div>-->

<!--    <div class="buttons">-->
<!--     <div  for="confirm" clas="button-confirm">	-->
<!--        <label th:href="@{/CustomerEdit/{id}(id=*{id})}" type="button" for="confirm" class="modal-open confirm-Btn">確定</label>-->
<!--      </div>-->
	
<!--      <div  for="delete" clas="button-delete">	-->
<!--        <label type="button" for="delete" class="modal-open delete-Btn">削除</label>-->
<!--      </div>-->
<!--   </div>-->


  </div>


</body>

</html>