<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>住宅編集画面</title>
    <link rel="stylesheet" th:href="@{/css/houseEdit.css}">
</head>

<body>
    <div class="container">
        <header class="header">
            <h1 class="header-name">住宅編集画面</h1>
        </header>
        
        <!-- ここからパンくずリスト -->
        <nav class="pankuzu-list">
            <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                <!-- 1つめ -->
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" th:href="@{/housing/menu}">
                        <span itemprop="name">メニュー</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                <!-- 2つめ -->
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" th:href="@{/housing/housesearch}">
                        <span itemprop="name">住宅一覧</span>
                    </a>
                    <meta itemprop="position" content="2" />
                </li>
                <!-- 3つめ -->
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a class="active" itemprop="item" aria-current="page">
                        <span itemprop="name">住宅編集</span>
                    </a>
                    <meta itemprop="position" content="3" />
                </li>
            </ol>
        </nav>
        
        <!-- ここからメイン -->
        
        <form th:action="@{/houseEdit}" th:object="${HouseeditForm}" th:method="post">
            <div th:if="${validationError}" th:each="error : ${validationError}">
                <label style="color: red; margin-top: 20px" class="text-danger" th:text="${error}"></label>
            </div>
            <div class="form">
                <div class="form-contents">
                    <input type="hidden" th:field="*{id}" />
                    <!-- 物件名 -->
                    <div class="formitem">
                        <div class="form-label">物件名</div>
                        <div>
                            <input type="text" class="formitem-input" th:field="*{name}">
                        </div>
                    </div>
                    
                    <!-- 所在地 -->
                    <div class="formitem">
                        <p class="form-label ">所在地</p>
                        <input type="text" class="formitem-input" th:field="*{address}">
                    </div>
                    
                    <!-- 土地面積 -->
                    <div class="formitem">
                        <p class="form-label ">土地面積</p>
                        <input type="text" class="formitem-input" th:field="*{land_area}">
                    </div>
                    
                    <!-- 間取り -->
                    <div class="formitem">
                        <p class="form-label ">間取り</p>
                        <input type="text" class="formitem-input" th:field="*{layout}">
                    </div>
                    
                    <!-- 間取り -->
                    <div class="formitem">
                        <p class="form-label ">築年数</p>
                        <input type="text" class="formitem-input" th:field="*{age}">
                    </div>
                          
                    <!--販売価格 -->
                    <div class="formitem">
                        <p class="form-label ">販売価格</p>
                        <input type="text" class="formitem-input" th:field="*{price}">
                    </div>
                                        
                </div>
            </div>
            <div class="buttons">
                <div class="button-confirm">
                    <button th:href="@{/houseEdit/{id}(id=*{id})}" class="confirm-button">確定</button>
                </div>
                <div class="button-delete">
                    <a th:href="@{/housing/{id}/delete(id=*{id})}" class="delete-button">削除</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>