<!doctype html>
<html lang="ja" >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>住宅登録管理画面</title>
	<link href="/css/houseResistration14.css" rel="stylesheet"></link></head>
<meta charset="utf-8" />
<body>
	<div th:if="${validationError}" th:each="error : ${validationError}">
        <label class="text-danger" th:text="${error}"></label>
    </div>
    <header>
            <h1 th:text="住宅登録管理画面"></h1>
    </header>

    <main>
        <nav id="breadcrumbs">
            <ol>
                <li><a href="" class="breadcrumbs-link">メニュー</a></li>
                <li><a href="" class="breadcrumbs-link">住宅一覧</a></li>
                <li><span id="this-page">住宅登録画面</span></li>
            </ol>
        </nav>

        <section id="sec-form">
            <form th:action="@{/house/create}" method="post"  th:object="${}" acenctype="multipart/form-data">


         <table>
                <tr class="row">
                    <th class="title">物件名<span class="text-danger">※</span></th>
                    <td class="building_data" colspan="2">
                        <input th:field="*{name}" class="long-box" type="text" name="buildingName" th:field="{buildingName}">
                        <span th:errors="{}"></span>
                    </td>
                    <td></td>
                </tr>
                <tr class="row">
                    <th class="title">所在地</th>
                    <td class="building_data" colspan="2">
                        <input th:field="*{address}" class="long-box" type="text" name="location" th:field="{buildingName}">
                        <span th:errors="{}"></span>
                    </td>
                    <td></td>
                </tr>
                <tr class="row">
                    <th class="title">土地面積</th>
                    <td class="building_data" id="meter" colspan="2">
                        <input th:field="*{land}" class="short-box" type="number" name="land_area" th:field="{buildingName}">
                    </td>
                    <td></td>
                </tr>
                <tr class="row">
                    <th class="title">間取り</th>
                    <td class="building_data" colspan="2">
                        <input th:field ="*{layout}" class="short-box" type="text" name="layout" th:field="{buildingName}">
                    </td>
                    <td></td>
                </tr>
                <tr class="row">
                    <th class="title">築年数</th>
                    <td class="building_data" id="age" colspan="2">
                        <input th:field ="*{years}" class="short-box" type="number" name="age" th:field="{buildingName}">
                    </td>
                    <td></td>
                </tr>
                <tr class="row">
                    <th class="title">販売価格</th>
                    <td class="building_data" id="price" colspan="2">
                        <input th:field ="*{price}" class="short-box" type="number" name="price" th:field="{buildingName}">
                    </td>
                    <td></td>
                </tr>
                <tr id="row-img">
                    <th class="title row-img-title">差込画像</th>
                        <td class="building_data row-img-house">
                            <div class="subtitle-box">
                                <p class="subtitle">外観</p>
                                <input type="file" name="image_file" id="row-img-exterior-file" />
                                <div class="input-btn-box">
                                <button form="form" type="submit">送信する</button></div>
                            </div>
                            <div class="img-img-box">
                                <img src="URI" id="exterior_img"  alt="外観写真">
                            </div>
                        </td>
                        <td class="building_data row-img-house">
                            <div class="subtitle-box">
                                <p class="subtitle">間取り</p>
                                <input type="file" name="image_file" id="row-img-layout-file" />
                                <div class="input-btn-box">
                                <button form="form" type="submit">送信する</button></div>
                            </div>
                            <div class="img-img-box">
                                <img src="URI" id="layout_img"  alt="間取り写真">
                            </div>
                        </td>
                    </tr>
                </table>
                <div id="submit-box">
                    <button id="submit-btn" form="form" type="submit">登 録</button>
                </div>
            </form>
        </section>
    </main>

    <footer>


    </footer>
</body>
</html>