<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>ログアウト</title>
    <link rel="stylesheet" th:href="@{/css/style111.css}">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>ログアウト画面</h1>
        </div>
        <div class="contents clearfix">
            <h2>ログアウトしますか？</h2>
            <div class="button-container">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-login">はい</button>
                </form>
                <button type="button" class="btn btn-register" onclick="window.history.back();">いいえ</button>
            </div>
        </div>
    </div>
</body>
</html>