<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<link th:href="@{/css/Menu.css}" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>Menu画面</title>
</head>
<body>
  <body>
    <div class="main clearfix">
             <div class="left"></div>

             <div class = "right-center clearfix">
                <div class="menu">
                  <a href="./sample.html" class="btn">ログアウト</a>
                  <a href="./sample.html" class="btn1">顧客一覧</a>
                  <a href="./sample.html" class="btn2">住宅一覧</a>
                  <a href="./sample.html" class="btn3">住宅登録</a>
                  <a href="./sample.html" class="btn4">My account</a>
                </div>
            </div>
    </div>
</body>
</html>
