<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale1.0">
    <title>新規ユーザー登録</title>
    <link rel="stylesheet" href="userRegistarS3.css"> 
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <!--タイトル名-->
            <h1 class="title">新規ユーザー登録</h1>
        </div>
        <!--ユーザーネームとパスワード設定枠-->
        <div class="center">
            <form name="registar-form" method="post" action="userRegistar.java"><!--javaファイル名未定-->
                    <!--ユーザーネーム入力-->                
                    <div class="userName-form">
                        <p>ユーザーネームの設定</p>
                        <input type="text" size="55" placeholder="ユーザーネームを入力">
                    </div>
                    <!--パスワード入力-->
                    <div class="password-form">
                        パスワードの設定
                        <p class="h1">※記号なし半角英数字</p>                        
                        <input type="password"size="55" placeholder="パスワードを入力">
                    </div> 
                    <!--登録ボタン-->                  
                    <input type="submit" value="登録" class="Reg">
                    <!--戻るボタン-->               
                    <input type="submit" value="戻る" class="Bac">
                    </div>
            </form>
        </div>
    </div>
    
</body>
</html>